{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true, 
  "jsxBracketSameLine": true,
  "endOfLine":"auto",
  "printWidth": 140
}
